{% extends 'core/base.html' %}

{% load static %}

{% block title %}Blog{% endblock %}

{% block content %}
  {% for post in posts %}
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-innerv text-center rounded">
              <h2 class="section-heading mb-5">
                <span class="section-heading-upper">{{post.published|date:"SHORT_DATE_FORMAT"}}</span>
                <span class="section-heading-lower">{{post.title}}</span>
              </h2>
              <p class="mb-0">
                {% comment %} Como le indicamos que la imagen podría ser opcional, tendremos que advertirle
                que podría ir vacía, entonces, si no va vacía mostrará el bloque de la imagen,
                si no, no lo hará, si no agregamos esta sentencia nos botará un error. {% endcomment %}
                {% if post.image.url != '' %}
                  <img class="mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{{post.image.url}}" alt="">
                {% endif %}
              </p>
              <p class="mb-0 mbt">
                {% comment %} linebreaks sirve para que al darle enter (saltos de línea) en 
                donde rellenamos la información (en el admin) del formulario del modelo {% endcomment %}
                {{post.content|linebreaks}}
              </p>
              <p class="mb-0 mbt">
                <span class="section-heading-under">Publicado por <em><b>{{post.author}}</b></em> en 
                  {% comment %} <em><a href="#" class="link">General</a>, <a href="#" class="link">Ofertas</a></em>{% endcomment %}
                 
                  {% comment %} Como el campo de categorias esta enlazado a muchas categorias, esto quiere decir que
                  es una lista de objetos, pero como el campo por si solo {{post.categories}} es digamos
                  como la pura caja vacía sin hacer la consulta (queryset), por lo que al colocarlo como
                  {{post.categories.all}} lo que hará será realizar la consulta y traerá todos esos objetos
                  por lo que ahora solo bastará recorrelos con un for  {% endcomment %}
                  <em>
                  {% for category in post.categories.all %}
                    {% comment %} Le decimos que imprima todas esas categorias y vaya colocando una "," para separar
                    pero para que no coloque la "," al final, este for tiene 2 variables para detectar
                    si estamos al principio o al final del for con: forloop.first y forloop.last, de
                    esta forma evitaremos colocar la "," al final {% endcomment %}

                    {% comment %} {{category.name}}{% if not forloop.last %},{% endif %} {% endcomment %}

                    {% comment %} Ahora crearemos los enlaces a las categorias con sus respectivos urls
                    pasandoselos por la url {% endcomment %}
                    <a href="{% url 'category' category.id %}" class="link">{{category.name}}</a>{% if not forloop.last %},{% endif %}
                  {% endfor%}
                  </em>
                </span>
              </p>
            </div>

          </div>
        </div>
      </div>
    </section>
  {% endfor %}
{% endblock %}


    